# packages that are imported          # package name
Django==4.0.0                         # django
psycopg2==2.9.2                       # psycopg2
dj-database-url==0.5.0                # dj_database_url
crispy-tailwind==0.5.0
django-crispy-forms==1.12.0